.pageText {
    color: white;
    text-align: center;
    padding: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    height: 20px;
    margin-bottom: 15px;
    width: 250px;
}
