.modal {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 90%; 
    max-width: 600px; 
    background-color: #333; 
    padding: 20px; 
    color: white; 
    border-radius: 8px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
    z-index: 1000;
}

.title input,
.author input,
.text textarea {
    width: calc(100% - 20px); 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 1em; 
    margin-bottom: 20px; 
}

.title input,
.author input {
    height: 45px;
}

.text textarea {
    resize: none; 
    height: 120px; 
}
